<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache">                                     <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Legends</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/NavBarStyle.css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top color">
        <div class="navbar-header" id="navImageIcon">
            <img src="~/Resources/resize.png" alt="" id="imageIcon">
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="navbarOptions">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Story</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/navbarScript.js")
    @Scripts.Render("~/Scripts/videoContainer.js")
</body>
</html>
